<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include "head.html" %}

  <body>
    {% include "header.html" %}

    <main>
      {% include "page_list.html" %}
    </main>

    {%- include "sidebar.html" -%}
  </body>
</html>
