:root {
    --off-white: #e0e4e8;
    --off-white-trans: #e0e4e8a0;
    --bg-color: #1a2b3c;
    --bg-color-light: #3c4d5e;
    --orange: #ffc890;
    --red: #ff9090;
}

::selection {
    background: var(--off-white);
    color: var(--bg-color);
}

html,
body {
    width: 100%;
    background-color: var(--bg-color);
    font-family: sans-serif;
    color: var(--off-white);
    font-size: 1rem;
}

main {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 4rem);
    max-width: 48rem;
    margin-left: 2rem;
}

html,
body,
div,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
}

ul,
ol {
    list-style-position: outside;
}

ul {
    list-style-type: '\2023\00a0';
}

code,
pre {
    font-family: monospace;
}

code {
    font-size: 85%;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #55555580;
}

pre code {
    background-color: unset;
}

pre {
    font-size: 100%;
    padding: 0.75rem;
    scroll-padding: 0.75rem;
    border-radius: 0.5rem;
    overflow: auto;
}

b {
    font-weight: bolder;
}

i {
    font-style: italic;
}

a,
a:visited {
    text-decoration: underline;
    text-decoration-style: solid;
    color: #97cafd;
}

a:hover,
a:active {
    color: #aaa;
}

header {
    padding: 1rem 2rem 1rem 2rem;
}

hr {
    border: 0.0625rem solid var(--bg-color-light);
}

abbr,
data {
    text-decoration: underline var(--off-white) dotted;
}

time:hover {
    text-decoration: underline var(--bg-color-light) dotted 0.125rem;
}

table {
    border-collapse: collapse;
}

caption {
    text-align: center;
}

tr {
    margin: 0;
    padding: 0;
}

td,
th {
    margin: 0;
    padding: 0.5rem;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: var(--bg-color-light);
}

th {
    text-align: center;
    font-weight: bolder;
}

td {
    text-align: center;
    font-weight: normal;
}

td ul,
td ol {
    text-align: left;
    list-style-position: inside;
}

address {
    margin-left: 2rem;
    font-style: normal;
}

details {
    background-color: #00000040;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

blockquote {
    margin: 1rem 0 1rem 2rem;
    padding: 0.125rem 0.5rem 0.125rem 0.5rem;
    border-left: 0.25rem solid var(--bg-color-light);
}

blockquote > p:first-of-type {
    margin-top: 0;
}

blockquote > p:last-of-type {
    margin-bottom: 0;
}

main p,
main ul,
main ol {
    margin: 1rem 0 1rem 0;
}

main p + h1,
main p + h2,
main p + h3,
main p + h4,
main p + h5,
main p + h6,
main ul + h1,
main ul + h2,
main ul + h3,
main ul + h4,
main ul + h5,
main ul + h6,
main ol + h1,
main ol + h2,
main ol + h3,
main ol + h4,
main ol + h5,
main ol + h6 {
    margin-top: 1.5rem;
}

main h1 + p,
main h2 + p,
main h3 + p,
main h4 + p,
main h5 + p,
main h6 + p {
    margin-top: 0.5rem;
}

.inline {
    display: inline;
}

ul.inline {
    list-style: none;
}

.inline > li {
    display: inline;
}

ul.inline > li::after {
    content: ', ';
}

ul.inline.inline-semi > li::after {
    content: '; ';
}

ul.inline > li:last-child::after {
    content: '';
}

.first-letter {
    text-transform: uppercase;
}

#deadseapianorolls > a,
#deadseapianorolls > a:hover,
#deadseapianorolls > a:visited,
#deadseapianorolls > a:active {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--off-white);
}

#header-nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    list-style: none;
}

#header-nav > ul > li {
    height: 2.5rem;
    margin-right: 1.5rem;
}

#header-nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bolder;
    text-decoration: none;
}

#header-nav > ul > li > a:hover {
    text-shadow: 0 0 0.75rem #e0e4e890;
    color: var(--off-white);
}

ul.anchor-list {
    list-style: none;
}

.anchor-list > li {
    margin-top: 0.5rem;
}

ul.anchor-list > li:hover {
    color: #aaa;
    list-style: '\2023\00a0' outside;
}

ul.anchor-list > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#entries-list {
    list-style: none;
}

.entry-date {
    display: block;
    padding: 0.125rem 0 0.125rem 0.5rem;
    border-left: 0.25rem solid var(--bg-color-light);
}

.last-edited {
    font-weight: bolder;
}

.go-to-full-entry {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: right;
}

.dag-aside {
    margin: 1rem 0 1rem 2rem;
    padding: 0 0 0 0.5rem;
    border-left: 0.25rem solid var(--bg-color-light);
}

@media (max-width: 24rem) {
    .dag-aside {
        margin: 1rem 0 1rem 0;
    }
}

#sidebar {
    display: inline-block;
    vertical-align: top;
    max-width: 16rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
    padding-left: 0.5rem;
    border-left: 0.125rem solid var(--bg-color-light);
}

@media (max-width: 70rem) {
    #sidebar {
        display: block;
        width: calc(100% - 4rem);
        max-width: 48rem;
        margin-top: 1rem;
        margin-left: 2rem;
        padding-left: 0;
        padding-top: 0.5rem;
        border-left: none;
        border-top: 0.125rem solid var(--bg-color-light);
    }
}

#sidebar > p {
    margin-bottom: 1rem;
}

#sidebar > p:last-child {
    margin-bottom: 0;
}

.float-right {
    float: right;
}

.full-width {
    width: 100%;
}

.collapse-td {
    height: 100%;
    padding: 0;
}

.subtable-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

/****************************************************************/

/*
 * Why do I insist on using the `>` selector here & on being really specific?
 *
 * The intent is to not allow `.no-outer-border` to cascade to subtables ---
 * although, you could argue that this is spurious, considering that
 * `.no-outer-border` is supposed to be for subtables. Cascading would
 * generally mean cascading to a subsubtable...
 *
 * Whatever.
 */

.no-outer-border > thead > tr:first-of-type > td,
.no-outer-border > thead > tr:first-of-type > th,
.no-outer-border > tbody > tr:first-of-type > td,
.no-outer-border > tbody > tr:first-of-type > th {
    border-top: none;
}

.no-outer-border > thead + tbody > tr:first-of-type > td,
.no-outer-border > thead + tbody > tr:first-of-type > th {
    border-top: 0.0625rem solid var(--bg-color-light);
}

.no-outer-border > tbody > tr:last-of-type > td,
.no-outer-border > tbody > tr:last-of-type > th,
.no-outer-border > tfoot > tr:last-of-type > td,
.no-outer-border > tfoot > tr:last-of-type > th {
    border-bottom: none;
}

.no-outer-border.keep-bottom-border > tbody > tr:last-of-type > td,
.no-outer-border.keep-bottom-border > tbody > tr:last-of-type > th,
.no-outer-border.keep-bottom-border > tfoot > tr:last-of-type > td,
.no-outer-border.keep-bottom-border > tfoot > tr:last-of-type > th {
    border-bottom: 0.0625rem solid var(--bg-color-light);
}

.no-outer-border > thead > tr > td:first-child,
.no-outer-border > thead > tr > th:first-child,
.no-outer-border > tbody > tr > td:first-child,
.no-outer-border > tbody > tr > th:first-child,
.no-outer-border > tfoot > tr > td:first-child,
.no-outer-border > tfoot > tr > th:first-child {
    border-left: none;
}

.no-outer-border > thead > tr > td:last-child,
.no-outer-border > thead > tr > th:last-child,
.no-outer-border > tbody > tr > td:last-child,
.no-outer-border > tbody > tr > th:last-child,
.no-outer-border > tfoot > tr > td:last-child,
.no-outer-border > tfoot > tr > th:last-child {
    border-right: none;
}

/****************************************************************/

.discog-wrapper {
    width: 100%;
    overflow: auto;
    margin: 1rem 0 1rem 0;
    box-shadow: 0 0 1rem inset #00000080;
}

table.discog {
    /* An unfortunately necessary hack due to unfixed browser bugs in all major
     * browsers... <https://stackoverflow.com/q/3215553> */
    height: 0;
}

table.discog ul,
table.discog ol,
table.artist ul,
table.artist ol {
    margin: 0;
}

table.discog caption {
    margin: 0.5rem 0 0.5rem 0;
}

table.discog > tbody > tr:nth-of-type(even) {
    background-color: #00000040;
}

table.discog > tbody > tr > td:nth-of-type(n+1) {
    border-left: 0.25rem double var(--bg-color-light);
}

.cover-art,
.cover-art > img {
    height: 16rem;
    margin: 0;
}

.cover-art {
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-num {
    text-align: right;
}

span.track-num::after {
    content: '.';
}

.track-title {
    text-align: left;
}

.track-duration {
    text-align: right;
}

.total-duration {
    text-align: right;
}

.physical-dist {
    color: var(--off-white-trans);
}

.lossy,
.unofficial {
    color: var(--orange);
}

.very-lossy,
.dubious {
    color: var(--red);
}

.not-gratis {
    color: var(--orange);
}

.artist-wrapper {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

table.artist {
    width: 100%;
    max-width: 32rem;
}

table.artist td {
    text-align: left;
}

.member-name {
    text-decoration: var(--bg-color-light) underline;
}

.band-photo {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.band-photo img {
    max-height: 28rem;
    border-radius: 0.5rem;
}
