{% set hs = load_data(path="hornbostel-sachs.toml", format="toml") %}

<div class="artist-wrapper">
  <table class="artist">
    {# There must be a better way to do this... #}
    {% set assets_path = page.relative_path
                       | split(pat="/")
                       | reverse
                       | slice(start=1)
                       | reverse
                       | join(sep="/") %}
    {% set artist_path = "content/" ~ assets_path ~ "/artist.toml" %}
    {% set artist = load_data(path=artist_path, format="toml") %}

    <tbody>
      {% if artist.other_names %}
        <tr>
          <th scope="row">other names</th>
          <td>
            <ul class="inline">
              {% for other_name in artist.other_names %}
                <li>{{ other_name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}

      {% if artist.start or artist.end %}
        <tr>
          <th scope="row">lifespan</th>
          <td>
            <time datetime="{{ artist.start }}" title="{{ artist.start }}">
              {%- set start_year = artist.start
                                 | as_str
                                 | split(pat="-")
                                 | first -%}

              {%- if start_year != artist.start | as_str -%}
                <abbr title="{{ artist.start }}">
              {%- endif -%}
                {{ start_year }}
              {%- if start_year != artist.start | as_str -%}
                </abbr>
              {%- endif -%}
            </time> &ndash;
            {% if artist.end -%}
              <time datetime="{{ artist.end }}" title="{{ artist.end }}">
                {%- set end_year = artist.end
                                 | as_str
                                 | split(pat="-")
                                 | first -%}

                {%- if end_year != artist.end | as_str -%}
                  <abbr title="{{ artist.end }}">
                {%- endif -%}
                  {{ end_year }}
                {%- if end_year != artist.end | as_str -%}
                  </abbr>
                {%- endif -%}
              </time>
            {%- else -%}
              present
            {%- endif -%}
          </td>
        </tr>
      {% endif %}

      <tr>
        <th scope="row">genres</th>
        <td>
          <ul class="inline">
            {% for genre in page.taxonomies.genres %}
              <li><a href="/genres/{{ genre | slugify }}">{{ genre }}</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>

      <tr>
        <th scope="row">located in</th>
        <td>
          {% if page.taxonomies.areas | length > 1 %}
            <ul>
              {% for area in page.taxonomies.areas %}
                {% set area_components = area | split(pat=", ") %}

                <li>
                  <a href="/areas/{{ area | slugify }}">{{ area_components | first }}</a>,
                  <a href="/provinces/{{ area_components | slice(start=1) | join(sep=", ") | slugify }}">{{ area_components | nth(n=1) }}</a>,
                  <a href="/countries/{{ area_components | last | slugify }}">{{ area_components | last }}</a>
                </li>
              {% endfor %}
            </ul>
          {% elif page.taxonomies.areas | length == 1 %}
            {% set area = page.taxonomies.areas | first %}
            {% set area_components = area | split(pat=", ") %}

            <a href="/areas/{{ area | slugify }}">{{ area_components | first }}</a>,
            <a href="/provinces/{{ area_components | slice(start=1) | join(sep=", ") | slugify }}">{{ area_components | nth(n=1) }}</a>,
            <a href="/countries/{{ area_components | last | slugify }}">{{ area_components | last }}</a>
          {% else %}
            n/a
          {% endif %}
        </td>
      </tr>

      {% if artist.related_artists %}
        <tr>
          <th scope="row">related artists</th>
          <td>
            {% set ra_str = artist.related_artists | join(sep="") %}
            {% set contains_comma = ',' in ra_str %}
            {% set contains_semi = ';' in ra_str %}

            <ul class="{% if contains_comma and not contains_semi %}inline inline-semi{% elif contains_comma and contains_semi %}{% else %}inline{% endif %}">
              {% for related_artist in artist.related_artists %}
                <li><b>{{ related_artist }}</b></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}

      {% if artist.members %}
        <tr>
          <th scope="row">members</th>
          <td>
            <ul class="members">
              {% for member in artist.members %}
                <li>
                  <span class="member-name">{% if member.name %}{{ member.name }}{% else %}???{% endif %}</span>
                  {%- if member.roles -%}
                    : <ul class="inline">
                      {% for role in member.roles %}
                        <li>
                          {%- if hs[role] -%}
                            <data title="H&ndash;S{{ hs[role] }}">
                          {%- endif -%}
                            {{ role }}
                          {%- if hs[role] -%}
                            </data>
                          {%- endif -%}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% if member.start or member.end %}
                    ({% if member.start -%}
                      {%- if member.start == "?" -%}
                        ?
                      {%- else -%}
                        <time datetime="{{ member.start }}"
                                 title="{{ member.start }}">
                          {%- set start_year = member.start
                                             | as_str
                                             | split(pat="-")
                                             | first -%}

                          {%- if start_year != member.start | as_str -%}
                            <abbr title="{{ member.start }}">
                          {%- endif -%}
                            {{ start_year }}
                          {%- if start_year != member.start | as_str -%}
                            </abbr>
                          {%- endif -%}
                        </time>
                      {%- endif -%}
                    {%- else -%}
                      ?
                    {% endif %}
                      &ndash;
                    {% if member.end -%}
                      {%- if member.end == "present" -%}
                        present
                      {%- elif member.end == "?" -%}
                        ?
                      {%- else -%}
                        <time datetime="{{ member.end }}"
                                 title="{{ member.end }}">
                          {%- set end_year = member.end
                                           | as_str
                                           | split(pat="-")
                                           | first -%}

                          {%- if end_year != member.end | as_str -%}
                            <abbr title="{{ member.end }}">
                          {%- endif -%}
                            {{ end_year }}
                          {%- if end_year != member.end | as_str -%}
                            </abbr>
                          {%- endif -%}
                        </time>
                      {%- endif -%}
                    {%- else -%}
                      ?
                    {%- endif -%})
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}

      {% if page.taxonomies.labels | length > 0 %}
        <tr>
          <th scope="row">associated labels</th>
          <td>
            <ul class="inline">
              {%- for label in page.taxonomies.labels -%}
                <li><a href="/labels/{{ label | slugify }}">{{ label }}</a></li>
              {%- endfor -%}
            </ul>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
