<div class="discog-wrapper">
  <table class="discog">
    <caption>{{ page.title }} discography</caption>

    {# There must be a better way to do this... #}
    {% set assets_path = page.relative_path
                       | split(pat="/")
                       | reverse
                       | slice(start=1)
                       | reverse
                       | join(sep="/") %}
    {% set discog_path = "content/" ~ assets_path ~ "/discog.toml" %}
    {% set discog = load_data(path=discog_path, format="toml") %}

    {% set releases = discog.releases %}

    <tbody>
      <tr>
        <th scope="row">title</th>
        {% for release in releases %}
          <td>{{ release.title
               | escape_xml
               | replace(
                   from="[V/A] ",
                   to='[<abbr title="various artists compilation">V&#x2f;A</abbr>] '
                 )
               | replace(
                   from="[split] ",
                   to='[<abbr title="split album">split</abbr>] '
                 )
               | replace(
                   from=" b/w ",
                   to=' <abbr title="backed with">b&#x2f;w</abbr> '
                 )
               | safe
              }}</td>
        {% endfor %}
      </tr>

      <tr>
        <th scope="row">cover art</th>
        {% for release in releases %}
          <td class="collapse-td">
            <figure class="cover-art">
              {% if release.cover %}
                <img loading="lazy" src="{{ release.cover }}"
                     alt="cover art for &ldquo;{{ release.title }}&rdquo;" />
              {% endif %}
            </figure>
          </td>
        {% endfor %}
      </tr>

      {% if discog.releases | map(attribute="other_art") | length > 0 %}
        <tr>
          <th scope="row">other art</th>
          {% for release in releases %}
            <td>
              {% if release.other_art %}
                <ul>
                  {% for art in release.other_art %}
                    <li><a href="{{ art.filename }}">{{ art.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endif %}

      <tr>
        <th scope="row">year</th>
        {% for release in releases %}
          <td>
            {%- if release.year -%}
              {% if release.date %}
                {% set datetime = release.date %}
              {% else %}
                {% set datetime = release.year %}
              {% endif %}
              <time datetime="{{ datetime }}" title="{{ datetime }}">
                {%- if release.date -%}
                  <abbr title="{{ release.date }}">
                {%- endif -%}
                  {{ release.year }}
                {%- if release.date -%}
                  </abbr>
                {%- endif -%}
              </time>
            {%- else -%}
              <span>???</span>
            {%- endif -%}
          </td>
        {% endfor %}
      </tr>

      <tr>
        <th scope="row">tracklist</th>
        {% for release in releases %}
          <td class="collapse-td">
            <div class="subtable-wrapper">
              <table class="no-outer-border keep-bottom-border full-width">
                <tbody>
                  {% for track in release.tracks %}
                    <tr>
                      <td class="track-num">
                        <span class="track-num">{{ loop.index }}</span>
                      </td>
                      <td class="track-title">
                        {%- if release.split -%}
                          <b>{{ track.title | split(pat=" - ") | first }}</b> &mdash; {{ track.title | split(pat=" - ") | slice(start=1) | join(sep=" - ") }}
                        {%- else -%}
                          {{ track.title }}
                        {%- endif -%}
                      </td>
                      <td class="track-duration">
                        {%- if track.duration -%}
                          {% set dur_split = track.duration | split(pat=":") %}
                          {% set minutes = dur_split | first %}
                          {% set seconds = dur_split | last %}
                          {% set datetime = "PT" ~ minutes ~ "M" ~ seconds ~ "S" %}
                          <time datetime="{{ datetime }}" title="{{ datetime }}">{{ track.duration }}</time>
                        {%- else -%}
                          ???
                        {%- endif -%}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>

                <tfoot>
                  <tr>
                    <th scope="row" colspan="2" class="total-duration">total duration</th>
                    <td class="total-duration">
                      {%- if release.duration -%}
                        {% set dur_split = release.duration | split(pat=":") %}
                        {% set minutes = dur_split | first %}
                        {% set seconds = dur_split | last %}
                        {% set datetime = "PT" ~ minutes ~ "M" ~ seconds ~ "S" %}
                        <time datetime="{{ datetime }}" title="{{ datetime }}">{{ release.duration }}</time>
                      {%- else -%}
                        ???
                      {%- endif -%}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </td>
        {% endfor %}
      </tr>

      <tr>
        <th scope="row">distributions</th>
        {% for release in releases %}
          {% if release.distributions %}
            <td class="collapse-td">
              <div class="subtable-wrapper">
                <table class="no-outer-border keep-bottom-border full-width">
                  <thead>
                    <tr>
                      <th scope="col">
                        <abbr title="is this distribution from deadseapianorolls?">dspr?</abbr>
                      </th>
                      <th scope="col">format</th>
                      <th scope="col">source</th>
                      <th scope="col">gratis?</th>
                      <th scope="col">URLs</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for distribution in release.distributions %}
                      <tr>
                        <td>
                          {%- if distribution.internal -%}
                            yes
                          {%- else -%}
                            no
                          {%- endif -%}
                        </td>
                        <td>
                          {%- if distribution.physical -%}
                            <ul class="inline physical-dist">
                              {%- for format in distribution.formats -%}
                                <li>{{ format }}</li>
                              {%- endfor -%}
                            </ul>
                          {%- else -%}
                            <span class="non-physical-dist">
                              <span class="{{ distribution.loss | slugify }}">
                                {%- if distribution.video -%}
                                  &#x1f4f9;
                                {% endif -%}

                                {%- for format in distribution.formats -%}
                                  {{ format }}

                                  {%- if not loop.last -%}
                                    +
                                  {%- endif -%}
                                {%- endfor -%}

                                {%- if distribution.loss != "lossless" %}
                                  @

                                  {% for bitrate in distribution.bitrates -%}
                                    {{ bitrate }}

                                    {%- if not loop.last -%}
                                      +
                                    {%- endif -%}
                                  {%- endfor -%}

                                  <abbr title="kilobits per second">kb/s</abbr>
                                {%- endif -%}

                                {%- if distribution.loss != "lossless" %}
                                  (
                                  {%- if distribution.cbr -%}
                                    <abbr title="constant bitrate">CBR</abbr>
                                  {%- else -%}
                                    <abbr title="variable bitrate">VBR</abbr>
                                  {%- endif -%}
                                  )
                                {%- endif -%}

                                {%- if distribution.sample_freq or distribution.bit_depth or distribution.channels -%}
                                  {%- if distribution.channels -%}
                                    ; {{ distribution.channels }} channels
                                  {%- endif -%}

                                  {%- if distribution.sample_freq %}
                                    @ {{ distribution.sample_freq }}<abbr title="thousand samples per second">kHz</abbr>

                                    {%- if distribution.bit_depth %}
                                      &amp;
                                      {{ distribution.bit_depth }}<abbr title="bits per sample">bit</abbr>

                                      {%- if distribution.float %}
                                        <abbr title="floating-point sample format">float</abbr>
                                      {%- endif -%}
                                    {%- endif -%}
                                  {%- endif -%}
                                {%- endif -%}
                              </span>
                            </span>
                          {%- endif -%}
                        </td>
                        <td><span class="{{ distribution.source_status }}">{{ distribution.source }}</span></td>
                        <td>
                          {% if distribution.pwyw %}
                            <span class="gratis">pay what you want</span>
                          {% elif distribution.gratis %}
                            <span class="gratis">yes</span>
                          {% else %}
                            <span class="not-gratis">no</span>
                          {% endif %}
                        </td>
                        <td>
                          <ul>
                            {% for url in distribution.urls %}
                              <li><a href="{{ url }}">[{{ loop.index }}]</a></li>
                            {% endfor %}
                          </ul>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </td>
          {% else %}
            <td>None! <a href="/contact">Do you have one?</a></td>
          {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
