{%- if dt -%}
  {%- set datetime = dt -%}
{%- else -%}
  {%- set datetime = t -%}
{%- endif -%}
<time datetime="{{ datetime }}" title="{{ datetime }}">
  {%- if dt -%}
    <abbr title="{{ dt }}">
  {%- endif -%}
    {{ t }}
  {%- if dt -%}
    </abbr>
  {%- endif -%}
</time>

{#- This comment is necessary to get rid of unwanted whitespace. -#}
