<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include "head.html" %}

  <body>
    {% include "header.html" %}

    <main>
      <h2>HTTP 404: Resource not found</h2>

      Page not found! Head on <a href="/">back to the beginning</a> and see
      if you can find your way.
    </main>

    {%- include "sidebar.html" -%}
  </body>
</html>
