<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include "head.html" %}

  <body>
    {% include "header.html" %}

    <main>
      <ol id="entries-list">
        {% for page in section.pages %}
          <li>
            <time datetime="{{ page.date }}" title="{{ page.date }}" class="entry-date">{{ page.date }}</time>
            <h2>
              <a href="{{ page.path }}">{{ page.title }}</a>
            </h2>
            <div>{{ page.summary | safe }}</div>
            <p class="go-to-full-entry">
              <a href="{{ page.path }}">go to full entry&hellip;</a>
            </p>
            <hr />
          </li>
        {% endfor %}
      </ol>
    </main>

    {%- include "sidebar.html" -%}
  </body>
</html>
