<head>
  <meta charset="UTF-8" />
  <title>deadseapianorolls{% if section.title %} | {{ section.title }}{% elif page.title %} | {{ page.title }}{% elif taxonomy.name %} | {{ taxonomy.name | replace(from="-", to=" ") }}{% if term.name %} | {{ term.name }}{% endif %}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  {% if section.description %}
    <meta name="description" content="{{ section.description }}" />
  {% elif page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% elif taxonomy.name %}
    <meta name="description" content="{{ config.description }} | browsing {{ taxonomy.name | replace(from="-", to=" ") }}{% if term.name %}: {{ term.name }}{% endif %}" />
  {% else %}
    <meta name="description" content="{{ config.description }}{% if page.title %} | {{ page.title }}{% endif %}" />
  {% endif %}

  <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" type="text/css" />

  <link rel="shortcut icon" type="image/png" href="{{ get_url(path="img/favicon.png") }}">
  <link rel="shortcut icon" sizes="196x196" href="{{ get_url(path="img/favicon.png") }}">
  <link rel="apple-touch-icon" href="{{ get_url(path="img/favicon.png") }}">
</head>
