<header>
  <h1 id="deadseapianorolls"><a href="/">deadseapianorolls</a></h1>

  <nav id="header-nav">
    <ul>
      <li><a href="/">browse</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="/source">source</a></li>
    </ul>
  </nav>
</header>
