<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include "head.html" %}

  <body>
    {% include "header.html" %}

    <main>
      <h2>browse by</h2>

      <nav>
        <ul class="anchor-list">
          <li><a href="/entries">dates posted</a></li>
          <li><a href="/genres">genres</a></li>
          <li><a href="/first-letters">alphabetical order</a></li>
          <li><a href="/first-release-dates">first release dates</a></li>
          <li><a href="/release-dates">any release dates</a></li>
          <li><a href="/labels">labels</a></li>
          <li><a href="/countries">countries/nation-states</a></li>
          <li><a href="/provinces">provinces/states/cantons/emirates/prefectures/&amp;c.</a></li>
          <li><a href="/areas">areas/regions/counties/metro areas/cities/&amp;c.</a></li>
        </ul>
      </nav>
    </main>

    {%- include "sidebar.html" -%}
  </body>
</html>
