<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include "head.html" %}

  <body>
    {% include "header.html" %}

    <main>
      <h2>{{ page.title }}</h2>
      {% if page.date %}
        <span class="entry-date">
          Posted on:
          <time datetime="{{ page.date }}" title="{{ page.date }}">{{ page.date }}</time>
        </span>
      {% endif %}
      {% if page.extra.last_edited %}
        <span class="entry-date last-edited">
          Last edited on:
          <time datetime="{{ page.extra.last_edited }}" title="{{ page.extra.last_edited }}">{{ page.extra.last_edited }}</time>
        </span>
      {% endif %}

      {{ page.content | safe }}
    </main>

    {%- include "sidebar.html" -%}
  </body>
</html>
