<h2><a href="/{{ taxonomy.name | slugify }}">
  {%- if taxonomy.name == "countries" -%}
    country
  {%- else -%}
    {#
     # This arcane incantation is here to remove the last letter of the
     # taxonomy name, which is to make it singular.  Unfortunately, this only
     # works for words that pluralize by simply appending 's'.  Hack alert!  So
     # we special-case the unsupported cases.
     #}
    {{ taxonomy.name
     | replace(from="-", to=" ")
     | reverse
     | split(pat="")
     | slice(start=2)
     | join(sep="")
     | reverse }}
  {%- endif -%}
  </a>: &ldquo;
  {%- if taxonomy.name == "first-letters" -%}
    <span class="first-letter">
  {%- endif -%}
    {%- if taxonomy.name == "areas" -%}
      {%- set area_components = term.name | split(pat=", ") -%}

      {{ area_components | first }},
      <a href="/provinces/{{ area_components | slice(start=1) | join(sep=", ") | slugify }}">{{ area_components | nth(n=1) }}</a>,
      <a href="/countries/{{ area_components | last | slugify }}">{{ area_components | last }}</a>
    {%- elif taxonomy.name == "provinces" -%}
      {%- set province_components = term.name | split(pat=", ") -%}

      {{ province_components | first }},
      <a href="/countries/{{ province_components | last | slugify }}">{{ province_components | last }}</a>
    {%- else -%}
      {{ term.name }}
    {%- endif -%}
  {%- if taxonomy.name == "first-letters" -%}
    </span>
  {%- endif -%}
  &rdquo;</h2>

{% if taxonomy.name == "provinces" %}
  {% set areas = [] %}
  {% for page in term.pages %}
    {% for area in page.taxonomies.areas %}
      {% set province = area | split(pat=", ") | slice(start=1) | join(sep=", ") %}

      {% if province == term.name %}
        {% set_global areas = areas | concat(with=area) %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% set areas = areas | unique | sort %}

  <aside class="dag-aside">
    <section>
      areas:
      <ul class="inline">
        {% for area in areas %}
          <li><a href="/areas/{{ area | slugify }}">{{ area | split(pat=", ") | first }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </aside>
{% elif taxonomy.name == "countries" %}
  {% set provinces = [] %}
  {% for page in term.pages %}
    {% for province in page.taxonomies.provinces %}
      {% set country = province | split(pat=", ") | last %}

      {% if country == term.name %}
        {% set_global provinces = provinces | concat(with=province) %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% set provinces = provinces | unique | sort %}

  <aside class="dag-aside">
    <section>
      provinces:
      <ul class="inline">
        {% for province in provinces %}
          <li><a href="/provinces/{{ province | slugify }}">{{ province | split(pat=", ") | first }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </aside>
{% elif taxonomy.name == "genres" %}
  {% set genres = load_data(path="genres.toml", format="toml") %}

  {% set supergenres = [] %}
  {% for genre_name, genre in genres %}
    {% for subgenre in genre.subgenres %}
      {% if subgenre == term.name %}
        {% set_global supergenres = supergenres | concat(with=genre_name) %}

        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  <aside class="dag-aside">
    {%- if genres[term.name].aliases -%}
      <section>
        aliases:
        <ul class="inline">
          {%- for alias in genres[term.name].aliases | sort -%}
            <li>&ldquo;{{ alias }}&rdquo;</li>
          {%- endfor -%}
        </ul>
      </section>
    {% endif %}

    {% if supergenres | length > 0 %}
      <section>
        direct supergenres:
        <ul class="inline">
          {%- for supergenre in supergenres | sort -%}
            <li><a href="/genres/{{ supergenre | slugify }}">{{ supergenre }}</a></li>
          {%- endfor -%}
        </ul>
      </section>
    {% endif %}

    {% if genres[term.name].subgenres | length > 0 %}
      <section>
        direct subgenres:
        <ul class="inline">
          {%- for subgenre in genres[term.name].subgenres | sort -%}
            <li><a href="/genres/{{ subgenre | slugify }}">{{ subgenre }}</a></li>
          {%- endfor -%}
        </ul>
      </section>
    {%- endif -%}
  </aside>
{% endif %}

<ul class="anchor-list">
  {% for page in term.pages | sort(attribute="title") %}
    <li><b><a href="{{ page.path }}">{{ page.title }}</a></b></li>
  {% endfor %}
</ul>
