<aside id="sidebar">
  <p>
    deadseapianorolls (dspr) is a digital music archive exclusively for
    <a href="/about">the out-of-print &amp; unavailable</a>. Any recordings
    that are available to own from the artist/label themselves are merely
    referenced, and you are encouraged to support these artists if you can!
  </p>

  <p>
    Any help is appreciated: if you find any missing recordings, inferior
    copies of recordings, or incorrect, out-of-date, or missing information,
    <a href="/contact">contact deadseapianorolls</a>!
  </p>

  <p>
    <a href="https://creativecommons.org/publicdomain/zero/1.0/"><img
    loading="lazy" src="/img/zero.svg" class="float-right"
    alt="CC0 (public domain)" title="CC0 (public domain)" /></a>

    The copyrightable content here that belongs to deadseapianorolls
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">is in the
    public domain</a>, and you can obtain the source used to build this site
    from <a
    href="https://gitlab.com/deadseapianorolls/deadseapianorolls.gitlab.io">here</a>.
  </p>
</aside>
