<h2>{{ taxonomy.name | replace(from="-", to=" ") }}</h2>

<ul class="anchor-list">
  {% for term in terms %}
    <li>
      <a href="/{{ taxonomy.name | slugify }}/{{ term.slug }}">
        {% if taxonomy.name == "first-letters" %}
          <span class="first-letter">
        {% endif %}
          {{ term.name }}
        {% if taxonomy.name == "first-letters" %}
          </span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
